/* .gallery {
    display: grid;
} */

.gallery-block__outer {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}

.horizontal-scroll-container {
    pointer-events: none;
}
.in-view .horizontal-scroll-container {
    pointer-events: auto;
}

body.red * {
    background: red !important;
}

body.no-scroll {
    overflow: hidden;
  }
  
  body.at-end {
    overflow: auto;
  }
