.headroom--scrolled.headroom--pinned {
}

.headroom--scrolled .header {
  background: white;
}

.headroom--scrolled.headroom--pinned .header {
  box-shadow: 0 0 40px #000;
  background: white;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 40px transparent;
  background: transparent;
  transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .header {
    padding: 20px 40px;
    background: transparent;
  }
}

.header__title {
  margin: 0;
  width: 60px;
  height: 60px;
}

.header__title img {
  width: 60px;
}

.headroom--unfixed .header__title--hidden {
  /* opacity: 0; */
}

.header__title a {
  text-decoration: none;
  color: #000;
}

.header__title a:after {
  display: none;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: none; */
  position: absolute;
  top: 100px;
  height: calc(100vh - 100px);
  background: #fff;
  left: 120vw;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  box-shadow: -10px 0px 15px 0px rgba(0,0,0,0.25);
}

.menu--open .main-nav {
  transform: translateX(-120%);
}
@media screen and (min-width: 800px) {
  .main-nav {
    position: relative;
    top: auto;
    left: auto;
    background: transparent;
    width: auto;
    display: flex;
    justify-content: flex-end;
    height: auto;
    transform: none;
    transition: none;
    box-shadow: none;
  }
  .menu--open .main-nav {
    transform: none;
    transition: none;
  }
}

.main-nav__item {
  margin: 30px;
}

@media screen and (min-width: 800px) {
  .main-nav__item {
    margin: 0 0 0 30px;
  }
}

.main-nav__item a {
  display: block;
  text-align: center;
  font-weight: 700;
}

.main-nav__item a:after {
  display: none;
}

.menu-button {
  background: #000;
  padding: 15px 15px 10px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  border: 0;
  -webkit-appearance: none;
}

@media screen and (min-width: 800px) {
  .menu-button {
    display: none;   
  }
}